# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
venv/
.env


# Model files
*.bin
*.ckpt
*.h5
*.pt
*.onnx
*.safetensors
*.dll

# Dataset or output
data/
output/
logs/
site-packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Hugging Face cache
~/.cache/huggingface/

# Normalize all text files to LF in the repository and handle CRLF on checkout
* text=auto

# Binary files should not be normalized
*.png binary
*.jpg binary
*.exe binary
*.dll binary
